#morgen-karusell {
	padding: 0;
	margin: 0;
}
.wohnprob h2 {
	font-weight: bold;
	padding: 0;
	margin: 0;
}
.smallerheight .container {
	padding-top: 10px;
	margin-bottom: 20px;
}
.parallax {
	padding-top: 0;
	padding-bottom: 10px;
}
.button-strip {
	background: none;
	border: 2px solid grey;
	background-color: none;
}
.button-strip:focus,
.button-strip:hover {
	background-color: grey;
	border-color: grey;
}
.collapse-strip {
	background-color: grey;
}
.linksbuendig {
	text-align: left;
}
.rechtsbuendig {
	text-align: right;
}
.video {
	width: 100%;
	height: 300px;
}
.video-gross {
	width: 100%;
	height: 500px;
}
.thin {
    font-size: 40%;
}
.cover h1 {
	font-size: 600%;
}
#id {
	font-size: 400%;
}
.infront {
	z-index: 200;
}
.quizicon {
	font-size: 14em;
}
.firstsection {
	padding-top: 12em;
}
.lastsection {
	padding-bottom: 12em;
}
.carousel-indicators {
	position: absolute;
	bottom: 10px;
	left: 50%;
	z-index: 15;
	width: 60%;
	padding-left: 0;
	text-align: center;
	list-style: none;
}

#demo1,
#demo2 {
	padding: 2em;
}
.googlemap {
	width: 100%;
}
.quizlist {
	padding-left: 0;
	margin-bottom: 0;
}

.quizbutton {
	border-color: grey;
	background-color: grey;
	width: 7em;
	font-size: 1.3em;
	font-weight: bold;
}

.quizlist > li > button,
.auswahlbutton {
	margin-right: 2px;
	line-height: 1.42857143;
	border: 1px solid transparent;
	border-radius: 4px 4px 4px 4px;
}
.quizlist > li > button:hover,
.auswahlbutton:hover {
	border-color: #eee #eee #ddd;
	background-color: #eee #eee #ddd;
}
.quizlist > li.active > button,
.quizlist > li.active > button:hover,
.quizlist > li.active > button:focus,
.auswahlbutton > li.active > button,
.auswahlbutton > li.active > button:hover,
.auswahlbutton > li.active > button:focus, {
	color: #555;
	cursor: default;
	background-color: #fff;
	border: 1px solid #ddd;
}
.mindesthöhequiz {
	min-height: 102px;
}
.auswahlbutton {
	border-color: grey;
	background-color: grey;
}
#quiz {
	padding-bottom: 4em;
}
.overlay {
    background: rgba(0, 0, 0, 0.2);
}
.overlay-dark {
    background: rgba(0, 0, 0, 0.6);
}
#footer {
	background-image: none;
	background-color: darkgrey;
}